.white {z-index: 0;}
.desert {z-index: 0;}
.berry {
    position: relative;
    transform-origin:center;
    animation-delay: 5s;
    animation: flash 1s infinite;
    transition: all;
    z-index: 0;
}

.dot {
    position: absolute;
    top: 50%; left: 50%;
}

@keyframes flash {
    to {
        scale: 2;
    }
}

.h {
    position: absolute;
    stroke-width: 12px;
    stroke: #27105B;
    stroke-dashoffset: 1000;
    stroke-dasharray: 2000;
    fill:#27105B;
    fill-opacity:0;
    /*loop animation*/
    transition: all linear;
    animation: dash 5s reverse infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
    1% {
        fill-opacity: 1;
    }
}


.logo {
    height: clamp(10rem,45dvw, 65rem);
    position: relative;
    border: 0px solid;
}


html {
    display: flex;
    position: static;
    background-color:rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}

body {
    align-content: center;
    margin-top: 35dvh;
    margin-bottom: 25svh;
}
