.logo {
    height: clamp(10rem,45dvw, 65rem);
    aspect-ratio: 1/1;
    position: relative;
    border: 0px solid;
    transition: all 2s;
}

.h {
    /* fill :#27105B; */
    fill: none;
    stroke-width: 12px;
    stroke: #27105B;
    stroke-dashoffset: 0;
    stroke-dasharray: none;
    animation: dash 5s linear forwards;
;
}

html {
    display: flex;
    position: static;
    background-color:rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}

body {
    align-content: center;
    margin-top: 35dvh;
    margin-bottom: 25svh;
}
