.h {
    /* fill :#27105B; */
    stroke-width: 12px;
    stroke: #27105B;
    stroke-dashoffset: 1000;
    stroke-dasharray: 2000;
    fill:#27105B;
    fill-opacity:0;
    /*loop animation*/
    transition: all linear;
    animation: dash 5s reverse infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
    5% {
        fill-opacity: 1;
    }
}

.logo {
    height: clamp(10rem,45dvw, 65rem);
    aspect-ratio: 1/1;
    position: relative;
    border: 0px solid;
    transition: all 2s;
}


html {
    display: flex;
    position: static;
    background-color:rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}

body {
    align-content: center;
    margin-top: 35dvh;
    margin-bottom: 25svh;
}
